.items_card
{
    border: 6px solid whitesmoke;
    border-radius: 10px;
    transition: .5s;
    height: 480px;
    width: 400px;
    margin: 30px;
    margin-left: 60px;
    text-align: center;
    display: inline-block;
}  

.items_card:hover
{
    box-shadow: 10px 1px 15px rgba(0, 0, 0, 0.372);
}

.pic img
{
    width: 300px;
    height: 160px;
    border-radius:10px;
    margin-top: 20px;
}
.remov
{
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid rgb(2, 84, 2);
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    background-color: rgb(3, 73, 3);
    color: white;
}
.remov:hover
{
    background-color: white;
    color: rgb(3, 65, 3);
    border: 1px solid rgb(2, 84, 2);
    
}